<!-- START NAVIGATION -->

<div id='navigation'>
    <!-- <div id='nav-toggle' onclick='toggleNav()'>&#8646;</div> -->
    <div id='nav-icon'>
        <img src='./KDF.png' id='logo-kdf' />
    </div>
    <div id='nav-content'>
        Kenneth<br class="hide-in-mobile" />
        David<br class="hide-in-mobile" />
        Fitzgerald<br class="hide-in-mobile" />
        <br class="hide-in-mobile" />
        <a href='index.html'>Home</a><br />
        <a href='python.html'>Python</a><br />
        <a href='./web.html' class='nav-current'>Web</a><br />
        <a href='music.html'>Music</a><br />
        <a href='contact.html'>Contact</a>
    </div>
</div>

<!-- END NAVIGATION -->

<div id='rainbow-scroll'></div>
