/* generic styles */

body {
	background-color: #F0F8FF;
	font-family: 'Capriola';
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	transition-duration: 0.5s;
}

a:link, a:visited {
	color: #555555;
}

a:hover {
	color: #000000;
}

/* navigation */

#navigation {
	position: absolute;
	left: 0px;
	top: 0px;
	/* transition-duration: 0.5s; */

	/* mobile */
	width: 100%;
	height: 50px;
}

#nav-toggle {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 150px;
	top: 10px;
	background-color: #D0D8DD;
	border-radius: 0 5px 5px 0;
	text-align: center;
}

#logo-kdf {
	position: relative;
	left: 15px;
	top: 15px;
	width: 100px;
	height: 100px;
	/* animation-name: rotate-initials;
	animation-duration: 15s;
	animation-iteration-count: infinite; */
}

/* @keyframes rotate-initials {
	0%		{transform: rotate(0deg);}
	33%		{transform: rotate(-120deg);}
	67%		{transform: rotate(-240deg);}
	100%	{transform: rotate(-360deg);}
} */

#nav-content {
	position: absolute;
	padding: 10px;

	/* mobile */
	top: 0px;
	left: 50px;
	text-align: left;
	width: auto;
}

.nav-current {
	font-weight: bold;
}

/* body */
#bod-div {
	position: relative;
	width: 100%;
	height: 100%;
}

#flex-container {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;

	/* mobile */
	left: 0px;
	top: 50px;
}

.content {
	width: 250px;
	height: 200px;
	background-image: linear-gradient(to bottom right, #CCCCDD, #9999AA);
	margin: 10px;
	transition-duration: 0.5s;
	border-radius: 10px;
	position: relative;
}

.content:hover {
	transform: scale(1.02, 1.02);
}

.content-image {
	width:100%;
	height:100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.content-title {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background: rgba(25, 25, 25, 0.75);
	color: white;
	border-radius: 0 0 10px 10px;
}

.content-title-text {
	margin: 5px;
}

#rainbow-scroll {
	position: absolute;
	animation-name: scrolling;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: both;
	/* transition-duration: 0.5s; */

	/* mobile */
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, fuchsia, brown, black, red);
	left: 0px;
	width: 100%;
	height: 2px;
	top: 50px;
	background-size: 300px 2px;
}

@keyframes scrolling {
	0%		{background-position: 0 0;}
	25%		{background-position: 75px 0;}
	50%		{background-position: 150px 0;}
	75%		{background-position: 225px 0;}
	100%	{background-position: 300px 0;}
}

.hide-in-mobile {
	display: none;
}

.show-in-mobile {
	display: initial;
}

.div-link-container {
	float: right;
	position: relative;
	display: inline-block;
}

.div-link-content {
	display: none;
	position: absolute;
	right: 0;
	min-width: 100px;
	z-index: 1;
}

.div-link {
	padding: 12px 16px;
	display: block;
}

.div-link-container:hover .div-link-content{
	display:block;
}

@media only screen and (min-width: 768px) {
	/* Desktop */

	#navigation {
		width: 150px;
		height: 100%;
	}

	#nav-content {
		top: 125px;
		left: 0px;
		text-align: center;
		width: 100%;
	}

	#flex-container {
		width: auto;
		height: auto;
		left: 180px;
		top: 0px;
	}

	#rainbow-scroll {
		background-image: linear-gradient(red, orange, yellow, green, blue, fuchsia, brown, black, red);
		left: 150px;
		width: 2px;
		height: 100%;
		top: 0px;
		background-size: 2px 300px;
	}

	@keyframes scrolling {
		0%		{background-position: 0 0;}
		25%		{background-position: 0 75px;}
		50%		{background-position: 0 150px;}
		75%		{background-position: 0 225px;}
		100%	{background-position: 0 300px;}
	}

	.hide-in-mobile {
		display: initial;
	}

	.show-in-mobile {
		display: none;
	}

	.div-link-container {
		float: initial;
		position: initial;
		display: initial;
	}

	.div-link-content {
		display: initial;
		position: initial;
		right: initial;
		min-width: initial;
		z-index: initial;
	}

	.div-link {
		padding: initial;
		display: block;
	}
}
