/* generic styles */

body {
	background-color: #F0F8FF;
	font-family: 'Capriola';
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	transition-duration: 0.5s;
}

a:link, a:visited {
	color: #555555;
}

a:hover {
	color: #000000;
}

/* navigation */

#navigation {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 150px;
	height: 100%;
	transition-duration: 0.5s;
}

#nav-toggle {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 150px;
	top: 10px;
	background-color: #D0D8DD;
	border-radius: 0 5px 5px 0;
	text-align: center;
}

#logo-kdf {
	position: relative;
	left: 15px;
	top: 15px;
	width: 100px;
	height: 100px;
	animation-name: rotate-initials;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

@keyframes rotate-initials {
	0%		{transform: rotate(0deg);}
	33%		{transform: rotate(-120deg);}
	67%		{transform: rotate(-240deg);}
	100%	{transform: rotate(-360deg);}
}

#nav-content {
	position: absolute;
	top: 125px;
	padding: 10px;
	width: 100%;
	text-align: center;
}

.nav-current {
	font-weight: bold;
}

/* body */
#bod-div {
	position: relative;
	width: 100%;
	height: 100%;
}

#flex-container {
	position: absolute;
	left: 180px;
	top: 0px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	width: 100%;
}

.content {
	width: 250px;
	height: 200px;
	background-image: linear-gradient(to bottom right, #CCCCDD, #9999AA);
	margin: 10px;
	transition-duration: 0.5s;
	border-radius: 10px;
	position: relative;
}

.content:hover {
	transform: scale(1.02, 1.02);
}

.content-image {
	width:100%;
	height:100%;
	background-size: contain;
}

.content-title {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background: rgba(25, 25, 25, 0.75);
	color: white;
	border-radius: 0 0 10px 10px;
}

.content-title-text {
	margin: 5px;
}

#content-primespiral {
	background-image: url('web/primespiral/primespiral.png');
	background-position: center;
	background-size: 200%;
}

#project-image-primespiral {
	width: 100%;
	height: 300px;
	background-image: url('web/primespiral/primespiral.png');
	background-position: center;
}

#rainbow-scroll {
	width: 2px;
	height: 100%;
	position: absolute;
	left: 150px;
	top: 0px;
	background-image: linear-gradient(red, orange, yellow, green, blue, fuchsia, brown, black, red);
	background-size: 2px 300px;
	animation-name: scrolling;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: both;
	transition-duration: 0.5s;
}

@keyframes scrolling {
	0%		{background-position: 0 0;}
	25%		{background-position: 0 75px;}
	50%		{background-position: 0 150px;}
	75%		{background-position: 0 225px;}
	100%	{background-position: 0 300px;}
}
